body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  color: #ffffff;
  background-color: #2e2e2e;
}

.gradient {
  height: 100vh;
}

.header {
  background-image: linear-gradient(to right, #56ccf2, #2f80ed);
  background-clip: text;
  background-size: 100%;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.modla * {
  color: #ffffff !important;
}
.modla .ant-modal-body {
  background-color: #2e2e2e;
  color: #ffffff !important;
}

.modla .ant-modal-header {
  background-color: #2e2e2e;
}

.modla .ant-modal-header * {
  background-color: #2e2e2e;
}

#text * {
  color: #ffffff !important;
}

h3 {
  font-size: 35px;
  text-transform: capitalize;
  color: #ffffff !important;
}

.ca {
  width: 300px;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
  transition: 0.3s;
}

.ca:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px 10px #56ccf2;
}
